@page
@model veterinaria.App.Frontend.Pages.ListarHistoriaModel
@{
}
<div class="bradcam_area breadcam_bg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="bradcam_text text-center">
                      <h3>Historia Clinica</h3>
                   </div>
              </div>
          </div>
      </div>
 </div>
  <!-- bradcam_area_end -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="section-top-border">
                    <h3 class="mb-30">Lista de historias clinicas</h3>
                    <div class="progress-table-wrap">
                        <div class="progress-table">
                            <div class="table-head">
                                <div class="serial">#</div>
                                <div class="country">Propietario</div>
                                <div class="visit">Mascota</div>
                                <div class="visit">Consulta</div>
                                <div class="percentage">Fecha</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Brayan Gomez</div>
                                <div class="visit"><img src="../../../img/cats/1.png" alt="flag">Taison</div>
                                <div class="visit">Desparacitación</div>
                                <div class="percentage">04/09/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Andrea Quintana</div>
                                <div class="visit"><img src="../../../img/cats/2.jpg" alt="flag">Rulos</div>
                                <div class="visit">Urgencias</div>
                                <div class="percentage">01/09/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Sofia Nuñez.</div>
                                <div class="visit"><img src="../../../img/cats/3.jpg" alt="flag">Fresa</div>
                                <div class="visit">Urgencias</div>
                                <div class="percentage">31/08/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Santiago Cuero</div>
                                <div class="visit"><img src="../../../img/cats/4.jpg" alt="flag">Copo</div>
                                <div class="visit">Desparacitación</div>
                                <div class="percentage">30/08/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Camilo cuero.</div>
                                <div class="visit"><img src="../../../img/cats/5.jfif" alt="flag">Roca</div>
                                <div class="visit">Desparacitación</div>
                                <div class="percentage">20/08/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Valentina Andrade</div>
                                <div class="visit"><img src="../../../img/cats/6.jpg" alt="flag">Araña</div>
                                <div class="visit">Vacunas</div>
                                <div class="percentage">15/06/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Matias Dique.</div>
                                <div class="visit"><img src="../../../img/cats/7.jpg" alt="flag">Mateo</div>
                                <div class="visit">Urgencias</div>
                                <div class="percentage">01/06/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Victor Muñoz.</div>
                                <div class="visit"><img src="../../../img/cats/8.jfif" alt="flag">Nieve</div>
                                <div class="visit">Control</div>
                                <div class="percentage">10/05/2022</div>
                            </div>
                            <div class="table-row">
                                <div class="serial">01</div>
                                <div class="country">Maria Muñoz.</div>
                                <div class="visit"><img src="../../../img/cats/9.jpg" alt="flag">Ruler</div>
                                <div class="visit">Vacunas</div>
                                <div class="percentage">04/02/2022</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3" style="margin-left: 140px;">
                    <button type="submit" class="button button-contactForm boxed-btn">Registrar Historia Clinica</button>                   
                </div>                
            </div>            
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                <div class="col-lg-12 offset-lg-1">
                    <div class="media contact-info">                        
                        <div class="media-body">
                            <h4><i class="fa fa-heart"></i> Datos del veterinario.</h3> 
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-user"></i></span>
                        <div class="media-body">
                            <h3>Norma Liz Rojas.</h3>
                            <p>CC 114368954</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>320-548-9851</h3>
                            <p>Lunes-Viernes</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>rojas@gmail.com</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
                  <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Buscar Historia Clinica'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                              <div class="input-group-append">
                                 <button class="btn" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Buscar</button>
                     </form>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Categoria</h4>
                     <ul class="list cat-list">
                        <li>
                           <a href="#" class="d-flex">
                              <p>Control</p>
                              <p>(0)</p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Urgencias</p>
                              <p>(0)</p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Vacunas</p>
                              <p>(0)</p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Desparacitaciones</p>
                              <p>(0)</p>
                           </a>
                        </li>   
                     </ul>
                  </aside> 
                  
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
    