@page
@model veterinaria.App.Frontend.Pages.GaleriaModel
@{
}
<!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Tus visitas </h3>
                    </div>

                </div>
            </div>
             <div class="dog_thumb d-none d-lg-block" >
                <img src="../img/gallery/11.png" alt="" height="350px" align="right">
            </div>
        </div>
    </div>
   
    <!-- bradcam_area_end -->

   

    <!--gallery start -->

 <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/23.png" alt="" width="150px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Minina</h3>
                            <p>Edad: 3 años</p>
                            <p>Color: Blanco con manchas grises</p>
                            <p>Peso: 5 kg</p>
                            <p>Seguimiento opeación</p>
                         </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/22.png" alt="" width="250px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                           <h3>Romeo</h3>
                            <p>Edad: 2 años</p>
                            <p>Color: Blanco con manchas grises</p>
                            <p>Peso: 3 kg</p>
                            <p>Fractura en mano derecha</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/21.png" alt="" width="300px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Milo</h3>
                            <p>Edad: 1 año</p>
                            <p>Color: Gris</p>
                            <p>Peso: 1 kg</p>
                            <p>Crecimiento y desarrollo</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/24.png" alt="" width="300px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Hermanos Pino</h3>
                            <p>Edad: 1  y 2 años</p>
                            <p>Color: Amarillo y Gris oscuro</p>
                            <p>Peso: 3 y 5 kg</p>
                            <p>Seguimiento castración</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/25.png" alt="" width="300px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Cristian</h3>
                            <p>Edad: 3 años</p>
                            <p>Color: Gris</p>
                            <p>Peso: 5 kg</p>
                            <p>Seguimiento opeación</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/26.png" alt="" height="230px" width="250px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Bigotes</h3>
                            <p>Edad: 6 años</p>
                            <p>Color: Amarillo pintado</p>
                            <p>Peso: 5 kg</p>
                            <p>Gastroenteritis</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/27.png" alt="" width="200px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Tom</h3>
                            <p>Edad: 3 años</p>
                            <p>Color: Cafe manchado</p>
                            <p>Peso: 5 kg</p>
                            <p>Seguimiento opeación</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/28.png" alt="" width="150px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                           <h3>Manchas</h3>
                            <p>Edad: 3 años</p>
                            <p>Color: Amarillo y negro</p>
                            <p>Peso: 5 kg</p>
                            <p>Seguimiento opeación de los ojos</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/gallery/29.png" alt="" width="300px" height="200px">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Alaska</h3>
                            <p>Edad: 1 años</p>
                            <p>Color: Blanco</p>
                            <p>Peso: 1 kg</p>
                            <p>Crecimiento y desarrollo</p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    <!-- gallery end -->
    <!-- footer_start  -->