@page
@model veterinaria.App.Frontend.Pages.InicioModel
@{
}
<div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="slider_text">
                            <center><h3>Cuidamos <br> <span>De tus mascotas</span></h3></center>
                            <center><p>No conocemos la receta de la felicidad, pero seguro <br>incluye un Gato.</p></center>
                            <center><a href="contact.html" class="boxed-btn4">Contactanos</a></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dog_thumb d-none d-lg-block">
                <img src="../img/about/2.png" alt="">
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Nuestros servicios</h3>
                        <p>Encuentra aquí todo lo necesario, para el cuidado y la salud de tu mascota.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/service/16.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>visitas<br/> Domiciliarias</h3>
                            <p>La prevención de enfermedades y chequeo constante de tu gato, harán que crezca, sano, fuerte y saludable.</p>
                         </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/service/11.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Alojamiento de Mascotas</h3>
                            <p>Ten la tranquilidad de hospedar tu gato, en nuestras instalaciones de manera segura y confiable</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/service/12.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Paseo de <br/> Mascotas </h3>
                            <p>Trae a tu gato y ten la seguridad de que vivirá una experiencia de sano esparcimiento.</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/service/13.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Spa de <br/> Mascotas</h3>
                            <p>Trae a tu gato y bríndale un día de tranquilidad y relajación, con los mejores profecionales.</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/service/14.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Tienda de <br/> Alimentos</h3>
                            <p>Visita nuestra tienda, especializada en todos los alimentos necesarios para el buen desarrollo de los gatos.</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                         <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                             <div class="service_icon">
                                 <img src="../img/service/15.png" alt="">
                             </div>
                         </div>
                         <div class="service_content text-center">
                            <h3>Tardes <br/> Recreativas</h3>
                            <p>Trae a tu gato y permitele compartir una tarde llena de juego, recreacion y sano esparcimiento.</p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->
