@page
@model veterinaria.App.Frontend.Pages.IniciarSesionModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style-login.css">
    <title>Home Pet Care</title>
</head>
    <body>
        <section>
            <div class="imgBx">
                <img src = "../img/p1.jpg" >
            </div>
            <div class ="contentBx">
                <div class="formBx">
                    <h2>INICIAR  SESIÓN</h2>
                    <form action="home.html">
                        <div class="inputBx">
                            <span>Correo Electronico</span>
                            <input type="text" name="">
                        </div>
                        <div class="inputBx">
                            <span>Contraseña</span>
                            <input type="password" name="">
                        </div>
                        <div class="remember">
                            <label>
                                <input type="checkbox" name="">Recordar contraseña
                            </label>
                            <div class="inputBx">
                               <input type="submit"  value="Ingresar" name="">
                            </div>
                            <div class="inputBx">
                                <p><a href="#">¿Recuperar contraseña?</a></p>
                            </div>
                        </div>
                    </form>
                    <h3>Redes Sociales</h3>
                    <ul class="sci">
                        <li><img src="../img/facebook.png"></li>
                        <li><img src="../img/twitter.png"></li>
                        <li><img src="../img/instagram.png"></li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>